<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/style.css" />
    <title>Presentacion</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- Carousel item -->
            <div id="Presentation" class="carousel slide carousel-dark slide">
              <div class="carousel-inner">
                <!-- ¿Que es el Desarrollo de Aplicaciones Móviles? -->
                <div class="carousel-item active">
                  <div class="col-md-8 offset-2">
                    <h2>¿Que es el Desarrollo de Aplicaciones Móviles?</h2>
                    <p class="start">
                      El desarrollo de aplicaciones móviles es el conjunto de
                      procesos y procedimientos involucrados en la escritura de
                      software para dispositivos informáticos pequeños e
                      inalámbricos, como teléfonos inteligentes y otros
                      dispositivos portátiles.
                    </p>

                    <p class="start">
                      Lo podemos entender como la creación de un software
                      diseñado para ejecutarse en dispositivos móviles. El
                      objetivo es crear una solución que aproveche el hardware y
                      las características únicas de smartphones y otros entornos
                      de desarrollo.
                    </p>

                    <p class="start">
                      Por ejemplo, los smartphones están equipados con GPS,
                      cámaras, comunicación de campo cercano (NFC), Bluetooth,
                      sensores, etc. Los desarrolladores utilizan estas
                      funcionalidades para crear servicios basados en la
                      ubicación, el reconocimiento facial, el lector de códigos,
                      entre otras muchas prestaciones. Las aplicaciones móviles
                      más populares se basan en alguna de estas posibilidades
                      para sacarle el máximo partido posible.
                    </p>
                  </div>
                </div>
                <!-- 1-Plataformas activas en las cuales vale la pena desarrollar Aplicaciones Móviles. -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>
                      1-Plataformas activas en las cuales vale la pena
                      desarrollar Aplicaciones Móviles.
                    </h2>

                    <div class="row">
                      <div class="col-md-6">
                        <img
                          src="../assets/img/Android-Logo.png"
                          class="logo"
                          alt="not found"
                        />
                      </div>
                      <div class="col-md-6">
                        <img
                          src="../assets/img/IOS_LOGO.png"
                          class="logo"
                          alt="not found"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Servicios para host de aplicaciones. -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>Servicios</h2>
                    <table class="table table-responsive table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Plataforma</th>
                          <th scope="col">Caracteristicas</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Firebase</td>
                          <td>
                            <ul>
                              <li>Databases</li>
                              <li>Configuracion remota</li>
                              <li>Secure Hosting</li>
                              <li>Cloud Storage</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>Back4App</td>
                          <td>
                            <ul>
                              <li>Easy Integration</li>
                              <li>Live Query</li>
                              <li>Email & Push Notifications</li>
                              <li>Fast CDN</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>Appy Pie</td>
                          <td>
                            <ul>
                              <li>Intuitive App Builder</li>
                              <li>Block Architecture</li>
                              <li>Offline Synchronization</li>
                              <li>Workflow Automation</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>Backendless</td>
                          <td>
                            <ul>
                              <li>RealTime Data Updates</li>
                              <li>User Management</li>
                              <li>Pub/Sub Massaging</li>
                              <li>Customization</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>DigitalOcean App Platform</td>
                          <td>
                            <ul>
                              <li>Smooth & Rapid Development</li>
                              <li>SSL Certificates</li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- 2-Lenguajes de programación usados para la Programacion Movil. -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>
                      2-Lenguajes de programación usados para la Programacion
                      Movil.
                    </h2>

                    <table class="table table-responsive table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Lenguaje de Programacion</th>
                          <th scope="col">Descripcion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Java <strong>(Nativo de Android)</strong></td>
                          <td>
                            Java se caracteriza por su rapidez, facilidad de
                            uso, así como su amplio abanico de posibilidades.
                            Java es un gran lenguaje de programación, ideal
                            tanto para apps móviles como para crear softwares a
                            medida.
                          </td>
                        </tr>
                        <tr>
                          <td>Python</td>
                          <td>
                            Las aplicaciones móviles con Python destacan por su
                            código. Python facilita el trabajo a los
                            programadores o ingenieros informáticos, ya que se
                            utilizan menos líneas de código que en el caso de
                            Java. De este modo, si queremos utilizar este
                            lenguaje para hacer apps; es necesario utilizar Kivy
                            o un kit de desarrollo de aplicaciones
                            multiplataforma que usa Python.
                          </td>
                        </tr>
                        <tr>
                          <td>Javascript</td>
                          <td>
                            Es rápido, versátil, sencillo y destaca por su
                            funcionalidad. Además, JavaScript se ocupa de
                            mejorar la experiencia de usuario, gracias a su
                            interactividad.
                          </td>
                        </tr>
                        <tr>
                          <td>Dart</td>
                          <td>
                            Dart es un lenguaje open source desarrollado en
                            Google con el objetivo de permitir a los
                            desarrolladores utilizar un lenguaje orientado a
                            objetos y con análisis estático de tipo. Desde la
                            primera versión estable en 2011, Dart ha cambiado
                            bastante, tanto en el lenguaje en sí como en sus
                            objetivos principales.
                          </td>
                        </tr>
                        <tr>
                          <td>Swift <strong>(Nativo de IOS)</strong></td>
                          <td>
                            Swift es un lenguaje de programación de propósito
                            general rápido y potente para el desarrollo de
                            aplicaciones iOS. Apple Inc. lanzó este lenguaje en
                            2014. Este moderno lenguaje de desarrollo de
                            aplicaciones para iOS es 2,6 veces más rápido que
                            Objective-C y 8,4 veces más rápido que Python 2.7.
                          </td>
                        </tr>
                        <tr>
                          <td>Kotlin <strong>(Nativo de Android)</strong></td>
                          <td>
                            Kotlin es un lenguaje de programación rápido, ligero
                            y potente para crear aplicaciones Android. Este
                            lenguaje de programación moderno también está
                            reemplazando a Java debido a sus funciones
                            avanzadas. Sí, Kotlin se considera mejor que Java
                            debido a su compilador inteligente, funcionalidades
                            de orden superior y extensión.
                          </td>
                        </tr>
                        <tr>
                          <td>Objective-C <strong>(Nativo de IOS)</strong></td>
                          <td>
                            Objective-C fue uno de los lenguajes de programación
                            más practicados para el desarrollo nativo de iOS
                            hasta 2014. Sí, Objective-C era un lenguaje común
                            entre los desarrolladores de iOS antes de la llegada
                            de Swift.
                          </td>
                        </tr>
                        <tr>
                          <td>C#</td>
                          <td>
                            Microsoft Corporation introdujo C# con los
                            programadores en 2002, y básicamente pertenece a los
                            lenguajes de programación de la familia C. C# es un
                            lenguaje de programación nativo de Android
                            multiparadigma que es conocido por sus sólidas
                            prácticas de escritura, orientación a objetos y
                            programación declarativa.
                          </td>
                        </tr>
                        <tr>
                          <td>Rust <strong>(Multiplataforma)</strong></td>
                          <td>
                            Rust es un popular lenguaje de programación de
                            desarrollo de aplicaciones multiplataforma que se
                            lanzó inicialmente en 2010.
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <ul>
                      <p class="start">Observaciones:</p>
                      <li>
                        Kotlin es utilizado por más del
                        <strong
                          >60% de los desarrolladores profesionales de
                          Android.</strong
                        >
                      </li>
                      <li>
                        Swift es el lenguaje de programación más nuevo para iOS.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- 3-Tipos de Aplicaciones Móviles. -->
                <!-- Nativas -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>3-Tipos de Aplicaciones Móviles.</h2>
                    <p><strong>Aplicaciones Nativas</strong></p>

                    <p class="start">
                      Las aplicaciones nativas (Native App) son aquellas en las
                      que se lleva a cabo específicamente un desarrollo para
                      cada una de las plataformas. En el caso de los móviles:
                      Android, iOS…
                    </p>

                    <img src="../assets/img/nativeApp.png" alt="not found" />

                    <p class="start my-3">
                      Si realizáramos dos versiones de nuestra aplicación
                      nativa:
                    </p>
                    <img src="../assets/img/nativeAppEj2.png" alt="not found" />

                    <ul>
                      <h2>
                        Ventajas y desventajas de las aplicaciones nativas
                      </h2>
                      <li>
                        Pros: el rendimiento es excelente y el acceso al
                        dispositivo es completo.
                      </li>
                      <li>
                        Contras: requiere aprender varios lenguajes nativos, por
                        ejemplo Kotlin y Swift.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- web -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>Tipos de Aplicaciones Móviles.</h2>
                    <p><strong> Aplicaciones Web </strong></p>

                    <p class="start">
                      Las aplicaciones web (Web App) son aquellas en las que se
                      realiza un único desarrollo para todas las plataformas y
                      podemos acceder desde un navegador web a dichas
                      aplicaciones.
                    </p>

                    <img src="../assets/img/WebEj1.png" alt="not found" />

                    <p class="start my-3">
                      Si realizáramos dos versiones de nuestra aplicación web:
                    </p>

                    <img src="../assets/img/WebEj2.png" alt="not found" />

                    <ul>
                      <h2>Ventajas y desventajas de las aplicaciones web</h2>
                      <li>
                        Pros: el tiempo de desarrollo y el precio de desarrollo
                        son bajos.
                      </li>
                      <li>
                        Contras: no puede subirse a Apps Stores, requiere acceso
                        a internet y el acceso al dispositivo es parcial.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Moviles -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>Tipos de Aplicaciones Móviles.</h2>

                    <p>
                      <strong>Aplicaciones Hibridas o Multiplataforma</strong>
                    </p>

                    <p class="start">
                      Las aplicaciones híbridas (Hibrid App) o Multiplataformas
                      (Cross Platform) son aquellas que nos permiten desarrollar
                      para varias plataformas a la vez con tan solo realizar un
                      desarrollo.
                    </p>

                    <img src="../assets/img/CrossEj1.png" alt="not found" />

                    <p class="start my-3">
                      Si realizáramos dos versiones de nuestra aplicación
                      híbrida:
                    </p>
                    <img src="../assets/img/CrossEj2.png" alt="not found" />
                    <ul>
                      <h2>
                        Ventajas y desventajas de las aplicaciones Híbridas
                      </h2>
                      <li>
                        Pros: es multiplataforma y permite subir la app a las
                        Apps Stores.
                      </li>
                      <li>
                        Contras: el rendimiento es inferior y el acceso al
                        dispositivo es menos permisivo que en las apps
                        desarrollas en nativo. En el resto de aspectos no tiene
                        grandes contras. Pero, quizás su principal desventaja es
                        tener un rendimiento medio en multitud de aspectos en
                        general.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- 4-Etapas para el Desarrollo de Aaplicaciones Móviles. -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>
                      4-Etapas para el Desarrollo de Aplicaciones Móviles.
                    </h2>

                    <p class="start">
                      Cuando se trata del desarrollo de aplicaciones móviles,
                      uno requiere acceso a kits de desarrollo de software (SDK)
                      que permiten a los programadores diseñar y probar su
                      aplicación de código en un entorno simulado controlado.
                      Los SDK comúnmente utilizados son:
                    </p>
                    <ul>
                      <li>Unity</li>
                      <li>Android SDK</li>
                      <li>
                        Licencia de Desarrollador iOS (necesaria para
                        desarrollar aplicaciones para iOS)
                      </li>
                    </ul>

                    <p class="start">
                      Para crear una aplicación móvil exitosa, los programadores
                      deben pasar por las siguientes fases:
                    </p>

                    <ul>
                      <li>
                        <strong>La investigación:</strong>
                        Refinación de la idea a través de la investigación
                      </li>
                      <li>
                        <strong>Wireframing: </strong>
                        creación del marco esquelético de la aplicación
                      </li>
                      <li>
                        <strong>Evaluación de viabilidad técnica: </strong>
                        teniendo en cuenta los sistemas de back-end de la
                        aplicación.
                      </li>
                      <li>
                        <strong>Prototipo:</strong>
                        un prototipo rápido es el concepto de la aplicación en
                        realidad
                      </li>
                      <li>
                        <strong>Diseño: </strong>
                        incluye codificación y diseño de la interfaz
                      </li>
                      <li>
                        <strong>Desarrollo:</strong>
                        desarrollo progresivo de la aplicación
                      </li>
                      <li>
                        <strong>Pruebas:</strong>
                        prueba de funcionalidad y cualquier error que deba
                        corregirse. se realizarán una serie de pruebas
                        funcionales para revisar el correcto funcionamiento de
                        la aplicación y detectar posibles issues que serán
                        revisados antes de realizar la publicación.
                      </li>
                      <li>
                        <strong>Implementación:</strong>
                        presentación de la aplicación móvil final. En esta etapa
                        se procede a configurar la aplicación para su
                        lanzamiento, se llenan las fichas informativas
                        requeridas y se firma digitalmente las aplicaciones para
                        subirlas a tienda. En el caso de Google Play, el tiempo
                        que toma desde que se envía la aplicación hasta que
                        aparece en la tienda es en promedio de 24 horas, si es
                        la primera vez; las futuras actualizaciones suelen tomar
                        un promedio de 3 horas. En el caso de Apple Store el
                        promedio es de 3 días.
                      </li>
                      <li>
                        <strong>Mantenimiento:</strong>
                        en el mercado móvil se suelen lanzar nuevos modelos de
                        smartphones o nuevas versiones de los sistemas
                        operativos. En ambos casos, es necesario ampliar el
                        soporte de nuestra aplicación para estas nuevas
                        versiones. Por otro lado, las políticas y condiciones de
                        las tiendas de aplicaciones suelen actualizarse. Por lo
                        que es necesario que nuestras aplicaciones estén
                        alineadas para evitar que sean retiradas de las tiendas.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- 5-Frameworks que se pueden usar para Desarrollar Aplicaciones Móviles. -->
                <!-- Flutter -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>
                      5-Frameworks que se pueden usar para Desarrollar
                      Aplicaciones Móviles.
                    </h2>
                    <p>
                      <strong>Flutter - 3.3.0 latest stable version </strong>
                    </p>
                    <p class="start">
                      una herramienta desarrollada por Google para el desarrollo
                      de aplicaciones multiplataforma. Está basada en Dart y
                      aunque se presentó en 2015, no se lanzó hasta 2018. Una
                      gran ventaja frente a otras soluciones es que la
                      aplicación desarrollada puede funcionar hasta en 4
                      plataformas: iOS, Android, Web y Desktop. Es sin lugar a
                      dudas la tecnología para desarrollo de aplicaciones
                      móviles que más crece en estos momentos.
                    </p>
                    <ul>
                      <li>
                        <strong
                          >Lógica de negocios e interfaz de usuario</strong
                        >
                      </li>
                      <li><strong>Desarrollo rápido</strong></li>
                      <li>
                        <strong>Facil de usar</strong> Flutter no es una
                        plataforma complicada para desarrollar aplicaciones.
                        Incluso puede usarlo en el navegador.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- ionic -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>
                      Frameworks que se pueden usar para Desarrollar
                      Aplicaciones Móviles.
                    </h2>
                    <p>
                      <strong
                        >Ionic (Multiplataforma) - 6.5.0 Latest Production
                        Version
                      </strong>
                    </p>
                    <p class="start">
                      Este entorno de desarrollo utiliza estándares web como
                      HTML, CSS y JavaScript, permitiendo obtener una
                      Progressive Web App (PWA) con la capacidad de trabajar en
                      iOS y Android como una aplicación nativa.
                    </p>
                    <p class="start">
                      No necesariamente tiene que instalar la aplicación en el
                      teléfono ya que permitirá acceder a través de un
                      navegador, pero además añade la opción de generar
                      aplicaciones para publicar tanto en Google Play como en la
                      App Store. Todo esto consigue que una aplicación
                      desarrollada con Ionic sea accesible desde cualquier
                      dispositivo por navegador o como app.
                    </p>
                    <ul>
                      <li>
                        <strong>Recargas en vivo: </strong>con Ionic, puede
                        experimentar instantáneamente lo que está codificando
                        utilizando su función de recargas en vivo.
                      </li>
                      <li>
                        <strong>Angular:</strong> es otra propiedad de Ionic que
                        la convierte en una solución ideal para crear
                        aplicaciones multiplataforma. AngularJS también permite
                        a los codificadores crear aplicaciones interactivas de
                        una sola página.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- react native -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <h2>
                      Frameworks que se pueden usar para Desarrollar
                      Aplicaciones Móviles.
                    </h2>
                    <p>
                      <strong
                        >React Native - 0.70 Latest stable version
                      </strong>
                    </p>
                    <p class="start">
                      Es un framework creado por Facebook en 2015 para el
                      desarrollo de apps multiplataforma. Al igual que Ionic,
                      también utiliza Javascript, pero lo hace bajo el pretexto
                      de orquestar controles de interfaz de usuario (UI)
                      específicos de la plataforma. Aunque se consigue un gran
                      rendimiento con esta herramienta de desarrollo, no está
                      completamente integrada con los sistemas nativos. Por lo
                      que en determinadas ocasiones habrá que tocar código
                      nativo.
                    </p>
                    <ul>
                      <li>
                        <strong>Práctico multiplataforma: </strong>es fácil
                        compartir una única base de código de React Native en
                        varias plataformas. Esta característica también lo
                        convierte en uno de los mejores lenguajes de
                        programación multiplataforma.
                      </li>
                      <li>
                        <strong>Actualización rápida: </strong>con el respaldo
                        de JavaScript, es espontáneo presenciar los cambios en
                        su código cuando usa React Native
                      </li>
                      <li>
                        <strong>Módulos nativos:</strong>ofrece módulos nativos
                        para los procesos de desarrollo de iOS y Android.
                      </li>
                      <li>
                        <strong>Código abierto:</strong>al igual que otros
                        lenguajes de programación de aplicaciones importantes,
                        React Native también es de código abierto y posee una
                        gran comunidad
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Bye -->
                <div class="carousel-item">
                  <div class="col-md-8 offset-2">
                    <div>
                      <img
                        src="../assets/img/theEnd.gif"
                        class="gif rounded-circle"
                        alt="not found"
                      />
                    </div>
                    <div class="mt-4">
                      <a
                        href="../index.html"
                        type="buttom"
                        class="btn btn-outline-success"
                        >Home</a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#Presentation"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#Presentation"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- Carousel item -->
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
